@model Cumulative_1_assignment_3.Models.Teacher

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Delete Confirm</h2>

<div id="container">
    <nav>
        <a class="link" href="/Teacher/Show/@Model.TeacherId">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete the teacher "@Model.TeacherFname @Model.TeacherLname"?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/Teacher/Delete/@Model.TeacherId">
        <button class="deleteBtn">
            Confirm Delete
        </button>
    </form>
</div>


<style>
    .link{
        border:1px solid;
        border-radius:5px;
        margin-top:1em;
        padding:0.5em;
        color:blue;
    }
    .deleteBtn {
        color: red;
    }
</style >
